* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  justify-content: space-around;
  border-bottom: 2px solid blue;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
}
.para {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  align-items: center;
  height: 50px;
  font-weight: bold;
}
.contact {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 40vw;
  height: 50px;
  align-items: center;
  padding-right: 50px;
  font-weight: bold;
  font-size: 1.6rem;
}

.head span {
  margin: 20px;
}

ul a {
  font-size: 1.35em;
  text-decoration: none;
  align-content: center;
  color: rgb(16, 16, 224);
  /* border: 4px solid red; */
}
.menu:hover {
  text-decoration: underline;
  color: blue;
  text-decoration-color: rgb(236, 74, 74);
  text-underline-offset: 20px;
  text-decoration-thickness: 3px;
}
.menu .fa-solid:hover,
.menus:hover {
  color: blue;
  background-color: white;
  text-decoration: none;
}

#Header-list {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
#Header-list img {
  align-self: flex-start;
  max-height: 120px; /* Ensure the image scales based on the height of the nav */
  max-width: auto; /* Adjust this value as needed */
  height: auto; /* Maintain aspect ratio */
  /* border: 3px yellow groove; */
}
.items {
  width: 50%;
  gap: 20px;
  justify-content: space-around;
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding-right: 40px;
}
.menus:hover {
  display: block;
}

.dropdown li {
  padding-top: 20px;
  display: block;
}
.dropdown {
  list-style-type: none;
  box-shadow: white 0px 3px 8px;
  background-color: white;
  display: none;
  position: absolute;
  padding: 20px;
  margin-top: 30px;
}

.dropdown:hover {
  display: block;
}

li:hover .dropdown {
  display: block;
  background-color: white;
}
.menub {
  background-color: blue;
  color: white;
  padding: 15px;
  border-radius: 30px;
}
.menub:hover {
  background-color: #ffd078;
}
.bodyDiv {
  background-color: rgba(7, 115, 238, 0.5);
  height: 100vh;
  width: 100vw;
  position: relative;
}
.bodyDiv h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6.5rem;
  font-weight: bold;
  color: white;
  padding-top: 40px;
  width: 70%;
  height: 40%;
}
.bodyDiv .p2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  color: white;
  font-style: italic;
  width: 45%;
  height: 20%;
}
.btn {
  display: flex;
  margin: 40px;
  width: 50vw;
  height: 10%;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
}
.bodyDiv button {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  color: #ffd078;
  background-color: rgb(16, 16, 100);
  border: none;
}
.bodyDiv button:hover {
  background-color: #ffd078;
  color: black;
}
.bodyDiv #video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.why1 {
  color: black;
  width: 50%;
}
.why1 h1 {
  font-size: 1.7rem;
  font-weight: 100;
  color: rgb(0, 120, 255);
}
#twoBox {
  display: flex;
  padding: 100px 40px 0 40px;
}
.why1 h1 ::before {
  content: " _";
  color: rgb(255, 201, 60);
  display: inline-block;
  font-size: 3rem;
  padding-bottom: 30px;
}
.boxes {
  width: 50%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-left: 70px;
}
.boxshadow,
.boxshadows {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 245px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
}
.boxshadows {
  width: 245px;
  height: 400px;
}
.boxshadow h1,
.boxshadows h1 {
  font-family: sans-serif;
  font-size: 24px;
  color: rgb(0, 0, 77);
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}
.boxshadow p,
.boxshadows p {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: rgb(0, 0, 77);
  padding-right: 10px;
  margin: 0;
}
.icon {
  width: 80px;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(240, 248, 255);
  color: rgb(0, 120, 255);
}
.icon:hover {
  background-color: rgb(0, 120, 255);
  color: white;
}
.why1 button {
  width: 200px;
  height: 67px;
  border-radius: 50px;
  background-color: rgb(0, 120, 255);
  border: none;
  color: white;
}
.sliderContainer {
  display: block;
  margin-top: 30px;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: rgb(240, 248, 255);
  text-align: center;
}
.sliderContainer .top {
  margin-bottom: 65px;
}
.carousel-control-prev .fa-solid {
  padding-right: 100px;
}
.carousel-control-next .fa-solid {
  padding-left: 100px;
}
.carousel-control-prev .fa-solid,
.carousel-control-next .fa-solid {
  color: rgb(255, 202, 64);
  font-size: 3em;
}

.col-md-4 img {
  height: 250px;
  width: 250px;
  object-fit: scale-down;
}
.row {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-self: center;
  gap: 20px;
  width: 100vw;
  height: 450px;
}
.col-md-4 {
  width: 33%;
  height: auto;
  display: block;
  background-color: rgb(240, 248, 255);
}

.cardText {
  display: inline-block;
  text-align: center;
  width: 100vw;
  height: auto;
  background-color: rgb(240, 248, 255);
}
.cardText h6 {
  font-weight: 1.3em;
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}
.cardText h3 {
  display: inline-block;
  background-color: #00004d;
  color: #efc63c;
  padding: 3px;
  font-size: 0.8em;
  border-radius: 5px;
  font-size: 15px;
}
.cardText button {
  display: inline-block;
  background-color: darkblue;
  color: #f0ecec;
  font-size: 1.4em;
  border-radius: 30px;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}
.box {
  width: 95%;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  background-color: white;
  border-radius: 20px;
}
.back {
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-color: #171749;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.back h1 {
  padding-top: 120px;
  font-size: 24px;
  text-align: center;
  color: wheat;
}
.back h2 {
  color: white;
  text-align: center;
  font-size: 70px;
}
.back .card {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: white;
  width: 400px;
  height: 270px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.card-image img {
  position: absolute;
  display: block;
  border: 5px solid #ffc93c;
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
  top: -25%;
  left: 5%;
}
.card h3 {
  color: #00004d;
  padding: 20px 20px 20px 20px;
  text-align: center;
  margin: 30px 20px 20px 20px;
  font-size: 28px;
  height: 80px;
}

.card h5 {
  text-align: center;
}
.card p {
  margin: 20px auto;
  text-align: center;
  height: 130px;
}
.back .shell {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 80%;
  height: 50%;
  align-items: center;
  padding-bottom: 150px;
}
.shell button {
  display: block;
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  margin-bottom: 50px;
}
.absoluteMan {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainMan {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #effaff;
  border-radius: 50px;
}
.manbox {
  width: 35%;
  height: 545px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.man {
  width: 50%;
  height: 50%;
  border-radius: 100%;
}
.man img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.manText {
  width: 55%;
  height: 545px;
  padding: 50px 0 10px 40px;
}
.manText p {
  padding: 20px 20px 0 0;
}
.elements h3 {
  font-size: 18px;
}
.elements div {
  margin: 10px 10px 0px 10px;
  padding: 15px 0 0 0;
  display: flex;
  gap: 20px;
}

.delivery {
  width: 100vw;
  height: 150vh;
}
.delivery .chinese {
  height: 50vh;
  width: 100vw;
  background-image: url(chinese.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #171749;
}
.fullForm {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100vh;
  padding-top: 80px;
  margin: 20px auto;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  position: relative;
  top: -200px;
  left: 5px;
  background-color: white;
  border: 3px solid #00004d;
}
.fullForm .naija {
  filter: hue-rotate(684deg) saturate(5) brightness(0.9);
  width: 100px;
  height: 100px;
  position: relative;
  top: -370px;
  left: 50%;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fullForm .naija img {
  height: 100px;
  width: 100px;
  scale: 1.2;
}

.formImage {
  height: 50vh;
  width: 40%;
}
form {
  width: 50%;
  height: 70%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form h1 {
  color: #00004d;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 40px;
}
.entries div input,
select {
  width: 100%;
  height: 100%;
  background-color: #d7dfe4;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
form .entries {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
form .entries div {
  margin: 20px 0 0 20px;
  width: 200px;
  height: 50px;
}
form button {
  margin: 50px auto;
  padding: 30px 30px 30px 30px;
  width: 250px;
  height: 20px;
  color: white;
  background-color: #00004d;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  background-color: #effaff;
  height: 1100px;
}
.features {
  height: 50px;
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
  margin: 50px 0 100px 0;
}

.count {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.countdown h1 {
  color: #0078ff;
  margin: 0 auto;
  font-weight: bold;
  font-size: 4em;
}

.doorstep {
  width: 100%;
  padding: 0 auto;
  text-align: center;
  font-size: 36px;
}
.doorstep p {
  margin: 0 auto;
}
.door {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}
.page {
  border: 3px solid rgb(6, 6, 59);
  width: 40%;
  height: 160px;
  margin: 0 auto;
  text-align: left;
  border-radius: 30px;
}
.page h1,
p {
  margin: 40px;
  padding-left: 20px;
}
.workspage {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rotate {
  background-color: #effaff;
  height: 0px;
}
.rotate .elements {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: white;
  border-radius: 30px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  top: -700px;
}
.rolls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotate .text {
  width: 240px;
  height: 270px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.rotate .round {
  display: flex;
  justify-content: center;
  border: 3px dotted green;
  border-radius: 100%;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #e2ebf0;
  transition: transform 1s ease-in-out;
}
.rotate .elements .box {
  align-items: center;
  border-radius: 0%;
  width: 100px;
  background-color: #e2ebf0;
  height: 100px;
}
.rotate .elements .round:hover {
  transform: rotate(360deg);
}
.wave {
  background-color: #000b76;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leg {
  width: 85%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  align-self: center;
}

footer {
  background-color: #000b76;
}
.footcontents {
  height: 100%;
  width: 100%;

  font-family: Georgia, "Times New Roman", Times, serif;
}
.footcontents h1 {
  margin: 20px 0 50px 0;
  font-weight: bold;
  font-size: 22px;
}
.footcontents h3 {
  margin: 20px 0 20px 0;
  font-weight: normal;
  font-size: 16px;
}

svg {
  margin: 0;
  padding: 0;
  display: block;
}
.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  color: white;
}
.send {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000b76;

  font-size: 30px;
}
.send input {
  border-radius: 20px;
  width: 50%;
  height: 50px;
  text-align: center;
}
.send button {
  width: 120px;
  height: 50px;
  border-radius: 40px;
  position: relative;
  left: -50px;
  background-color: #ffc93c;
  border: none;
}
.send button span {
  font-size: 30px;
  width: 50px;
  height: 20px;
}
.copyright p {
  background-color: #000b76;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 100%;
  color: white;
}
.copyright {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid white;
  padding: 40px 0 40px 0;
}
.copyright .contact {
  gap: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
